<?xml version="1.0"?>
<config>
    <modules>
        <Expertrec_Recommendation>
            <version>1.2.6</version>
        </Expertrec_Recommendation>
    </modules>
    <global>
        <models>
            <expertrec_recommendation>
                <class>Expertrec_Recommendation_Model</class>
            </expertrec_recommendation>
        </models>
        <helpers>
            <expertrec_recommendation>
                <class>Expertrec_Recommendation_Helper</class>
            </expertrec_recommendation>
        </helpers>
        <blocks>
            <expertrec_recommendation>
                <class>Expertrec_Recommendation_Block</class>
            </expertrec_recommendation>
        </blocks>
        <resources>
            <expertrec_setup>
                <setup>
                    <module>Expertrec_Recommendation</module>
                </setup>
            </expertrec_setup>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <expertrec_recommendation_track_addtocart>
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>trackAddToCart</method>
                    </expertrec_recommendation_track_addtocart>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_payment_place_end>
                <observers>
                    <expertrec_recommendation_track_order>
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>trackOrder</method>
                    </expertrec_recommendation_track_order>
                </observers>
            </sales_order_payment_place_end>
            <sales_quote_remove_item>
                <observers>
                    <expertrec_recommendation_track_remove_item>
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>trackRemoveItem</method>
                    </expertrec_recommendation_track_remove_item>
                </observers>
            </sales_quote_remove_item>
            <catalog_product_delete_before>
                <observers>
                    <expertrec_recommendation_track_delete>
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>trackDelete</method>
                    </expertrec_recommendation_track_delete>
                </observers>
            </catalog_product_delete_before>
            <catalog_product_save_commit_after>
                <observers>
                    <expertrec_recommendation_stockupdate>
                        <class>expertrec_recommendation/observer</class>
                        <method>saveProduct</method>
                    </expertrec_recommendation_stockupdate>
                </observers>
            </catalog_product_save_commit_after>
            <!-- Hook on New Category and Category Edit -->
            <catalog_category_save_commit_after>
                <observers>
                    <expertrec_recommendation_save_category>
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>saveCategory</method>
                    </expertrec_recommendation_save_category>
                </observers>
            </catalog_category_save_commit_after>
            <!-- Hook on item view 
            <catalog_controller_product_view>
                <observers>
                    <itemsviewed>
                        <type>model</type>
                        <class>bit_itemsviewed/observer</class>
                        <method>saveProductVisitHistory</method>
                    </itemsviewed>
                </observers>
            </catalog_controller_product_view> -->
            <!-- Hook for adding wishlist
            <wishlist_product_add_after>
                <observers>
                    <expertrec_recommendation_add_wishlist>         
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>addWishlist</method>         
                    </expertrec_recommendation_add_wishlist>
                </observers>
            </wishlist_product_add_after> -->
        </events>        
    </global>    
    <frontend>
        <layout>
            <updates>
                <expertrec_recommendation>
                    <file>expertrec/recommendation.xml</file>
                </expertrec_recommendation>
            </updates>
        </layout>
        <routers>
            <expertrec_recommendation>
                <use>standard</use>
                <args>
                    <module>Expertrec_Recommendation</module>
                    <frontName>expertrec-feed</frontName>
                </args>
            </expertrec_recommendation>
            <expertrec-signup>
                <use>standard</use>
                <args>
                    <module>Expertrec_Recommendation_Adminhtml</module>
                    <frontName>expertrec-signup</frontName>
                </args>
            </expertrec-signup>
            <!-- added support email -->           
            <expertrec>
                <use>standard</use>
                <args>
                    <modules>
                        <Expertrec_Recommendation before="Mage_CatalogSearch">Expertrec_Recommendation_CatalogSearch</Expertrec_Recommendation>
                    </modules>
                    <frontName>expertrec</frontName>
                </args>
            </expertrec>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <expertrec_search>
                        <type>singleton</type>
                        <class>expertrec_recommendation/observer</class>
                        <method>useExpertrecSearch</method>
                    </expertrec_search>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
	<!-- added template for admin-notification -->
    <adminhtml>
        <layout>
            <updates>
                <expertrec_recommendation>
                    <file>expertrec/recommendation.xml</file>
                </expertrec_recommendation>
            </updates>
        </layout>
    </adminhtml>

</config>
